// #SPLASH SCREEN
//------------------------------------

.l-splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__icon {
    width: 236px;
    height: 256px;
  }
}
