// #SPLASH SCREEN
//------------------------------------

.l-splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__icon {
    width: 247px;
    height: 49px;
  }
}
