@import '~@vkontakte/vkui/dist/vkui.css';
@import './fonts';
@import './ui-components';

@import './base/layout';
@import './base/panel';
@import './base/icons';
@import './indicator';

.l-flex {
  display: flex;

  &__item {
    flex: 1;
  }
}

.l-tabs-primary {
  .TabsItem {
    background-color: #ECEDF1 !important;
  }

  .TabsItem--selected {
    background-color: var(--button_primary_background) !important;
    color: white !important;
  }
}

.l-bg-white {
  background-color: #fff !important;
}

.l-calendar {
  .CalendarDay__blocked_calendar {
    background: rgba(238, 93, 74, 0.2)!important;
    border-color: rgba(238, 93, 74, 0.2)!important;;
  }

  .CalendarDay__selected_start {
    background-color: #5C81B4!important;
    border-color: #5C81B4!important;
  }

  .CalendarDay__selected_span {
    background-color: rgba(92, 129, 180, 0.3)!important;
    border-color: rgba(92, 129, 180, 0.3)!important;
    color: initial!important;
  }

  .CalendarDay__selected_end {
    background-color: #5C81B4!important;
    border-color: #5C81B4!important;
  }
}
