.l-indicator--rented {
  background-color: #4FB250;
  color: #fff;
  font-size: 0.6em;
  border-radius: 3px;
  line-height: 1;
  padding: 3px 5px;
  padding-top: 4px;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
}
