.l-time-range {
  display: flex;

  &__input {
    background-color: transparent !important;
    padding-top: 0 !important;
    width: 114px;
    position: relative;

    &:last-child {
      padding-left: 20px;

      .Input-underline {
        width: calc(100% - 20px);
        margin-left: 20px;
      }

      &:before {
        content: "—";
        position: absolute;
        right: 100%;
        top: calc(50% - 1px);
        line-height: 1px;
        color: var(--text_secondary);
      }
    }
  }
}

.l-search--bg-transparent.Search--ios {
  $bg-color: transparent;

  background: $bg-color !important;

  .Search__control {
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
  }

  .Search__after {
    background: $bg-color !important;
  }

  .Search__after::before {
    background: $bg-color !important;
  }

  .Search__after-width {
    background: $bg-color !important;
  }

  &::after {
    height: 0 !important;
  }
}
